/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
.linkDisplay {
  color: white;
  text-decoration: none;
  font-size: 1.75rem;
}
.linkDisplay:hover {
  background: yellow;
  color: black;
}
.buttonDisplay {
  background: red;
  color: white;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 50px;
}
.buttonDisplay:hover {
  color: black;
  background: orange;
  font-weight: bold;
  font-size: 1.75rem;
}
.h3Display {
  font-weight: bold;
  font-size: 2.5rem;
}
.h5Display {
  font-size: 1.75rem;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  line-height: 1.25;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: teal;
}
.container .header a {
  color: white;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 20px;
}
.container .header a:hover {
  background: yellow;
  color: black;
}
@media (max-width: 500px) {
  .container {
    justify-content: center;
    background: red;
  }
  .container .header a {
    padding: 10px;
  }
}
.container2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  background: lightgray;
}
.container2 img {
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.container2 address {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 40px;
  line-height: 1.5;
}
@media (max-width: 500px) {
  .container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
    background: teal;
    color: white;
  }
  .container2 .introPic img {
    width: 80%;
    margin: 0 auto;
  }
  .container2 .introPic {
    width: 60%;
  }
  .container2 address {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: lightgray;
  max-width: 80%;
  margin: 0 auto;
}
.title h1 {
  font-weight: bold;
  font-size: 5rem;
  margin: 0 auto;
  color: black;
}
.title h4 {
  font-style: italic;
  margin-left: 70px;
  margin-top: 10px;
  font-size: 2.25rem;
  margin-bottom: 10px;
}
.title h5 {
  font-size: 1.75rem;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  line-height: 1.25;
  line-height: 1.5;
}
.title button {
  background: red;
  color: white;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.title button:hover {
  color: black;
  background: orange;
  font-weight: bold;
  font-size: 1.75rem;
}
@media (max-width: 500px) {
  .title {
    align-items: flex-start;
    max-width: 80%;
    background: teal;
    color: white;
  }
  .title h1 {
    font-size: 2.7rem;
    text-align: center;
    color: yellow;
    margin-bottom: 10px;
  }
  .title h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.9rem;
  }
  .title h5 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
}
.container3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.container3 .aboutMe {
  width: 45%;
  margin: 0 auto;
}
.container3 .aboutMe h3 {
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
}
.container3 .aboutMe p {
  @text Color;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 1.75rem;
}
.container3 .skills {
  @text Color;
  width: 45%;
}
.container3 .skills h3 {
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: underline;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.container3 .skills ul {
  @text Color;
  margin-top: 10px;
  padding: 3px;
}
.container3 .skills li {
  @text Color;
  padding: 5px;
  font-size: 1.75rem;
}
@media (max-width: 500px) {
  .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
}
.container4 {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  max-width: 80%;
  flex-direction: column;
  margin: 0 auto;
}
.container4 h3 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 5px;
  text-decoration: underline;
}
.container4 table {
  border: 4px solid black;
  width: 100%;
  margin: 0 auto;
}
.container4 tr {
  border: 3px double lightgray;
}
.container4 th {
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 10px;
}
.container4 td {
  text-align: center;
  vertical-align: center;
  font-size: 1.75rem;
  padding: 5px;
}
.footer {
  background: teal;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.footer h4 {
  font-size: 1.9rem;
  color: yellow;
  text-align: center;
  padding: 10px;
}
.footer nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.footer nav a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.footer nav a:hover {
  color: red;
  background: white;
  padding: 5px;
}
